h2 {
    font-weight: bolder;
    font-family: "Arial Black","consolas";
    font-size: 40pt ;
}
a {
    font-weight: bolder;
    font-family: "Arial Black","consolas";
    font-size: 20pt ;
}
p {
    font-weight: bolder;
    font-family: "Arial Black","consolas";
    font-size: 20pt ;
}