.button {
    height: 60px;
    width: 120px;
    padding-top: 10px;
    color: darkblue;
    font-size: 20pt;
    background-color: red;
}

#increaseBtn{
    width: 100px;
    height: 40px;
    font-size: 20px;
}

#countLabel{
    
    display: block;
    text-align: center;
    font-size: 100px;
    
}


