
/*------------- A pseudo-classes------------------------*/
a:link{
    color: green;
}
a:visited{
    color:brown;
}
a.hover{
    color: blueviolet;
}


/*---------------BUTTON pseudo-classes----------------------*/
button:hover{
    background-color: lime;
    border: .5px solid  red;
    font-weight:bolder;
    box-shadow: 0px 0px 10px lime;
}
button:active{
    color: blue;
}

/*------------- LIST pseudo-classes ------------------------*/
li:nth-child(odd){
    background-color:darkturquoise;
}
li:nth-child(even){
    background-color:aquamarine;
}
li:nth-child(3n+1){  /*  n : 0,1,2,3... */
    background-color: cyan;
}                   /*  child : 1,4,7,10... */
