<!-- SEE template/cabecera.ejs for DOCUMENTATION -->
<%- include(   'template/cabecera', { pestania: '404'}   ) %>

    <h1> Titulo en Pagina ERROR </h1>
    <h2> <%= titulo %></h2>
    <h3> <%= descripcion %></h3>

<%- include(  "template/footer"   )  %> 