<!-- SEE template/cabecera.ejs  for DOCUMENTATION  -->
<%- include(  "template/cabecera", { pestania:'index'}   )  %> 

    <h1> Titulo en INDICE  </h1>
    <h2><%= titulo %></h2>

<%- include(  "template/footer"   )  %> 