<!-- SEE template/cabecera.ejs  for DOCUMENTATION  -->
<%- include(   'template/cabecera', { pestania: 'Servicios'}   ) %>


    <h1> Titulo en Servicios </h1>
    <h2><%= titulo %></h2>

<%- include(  "template/footer"   )  %> 