
h1{ border-width: 3px ;
    border-style: solid; 
    border-radius: 4px ; 
    color:darkred;
    }

h2{
    border: 4px outset;  /* solid dashed dotted ouset inset  */
    border-radius: 8px ; 
    color:blue; 
    border-color: gold; 
}

p{  border: 0.2cm ; 
    border-radius: 50px ; 
    padding:3%;
    border-style: double;
    border-bottom-color: red;
    border-bottom-style: solid ;
}


